<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628246966059-9lkc2mf69jipkgmet3qmn0pt9edalvtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628246966059-9lkc2mf69jipkgmet3qmn0pt9edalvtf</string>
	<key>API_KEY</key>
	<string>AIzaSyBonMNHrPnrKWWjcHsmPq5BhA4IDS-Qeq4</string>
	<key>GCM_SENDER_ID</key>
	<string>628246966059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groove.rnboilerplate.ios</string>
	<key>PROJECT_ID</key>
	<string>rn-poc-d6929</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-poc-d6929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:628246966059:ios:a6a2c3b693046064ea9f6e</string>
</dict>
</plist>
